# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

pocket_base
node_modules
dist
dist-ssr
*.local

.env.local
.env
.dockerEnv

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# You DO commit your Yarn release & plugins, so keep these out of .gitignore
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks

# You DO NOT commit Yarn’s build outputs, so ignore these
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz